@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization

@inject IHtmlLocalizer<ResourceLocalization> Localizer
<div class="timeTable w-100">
    <label class="caption d-block w-100 text-center text-white">@Localizer["Nav_Timetable"]</label>
    <div class="d-flex flex-column">
        
    </div>
</div>